.right_content {
    .right_small {
        overflow: hidden;
        padding: 15px 0;
        img {
            max-width: 110px;
            float: left;
            margin: 0 15px 0 0;
        }
        h2 {
           color: #2b2b2b;
           line-height: 1.6;
           font-size: 18px;
           max-height: 58px;
           overflow: hidden;
           margin: 8px 0 0 0;
           font-weight: bold;
        }
    }
}
@media (max-width: 991px) and (min-width: 768px) {
    .right_content {
        .right_small {
            h2 {
               font-size: 16px;
               max-height: 52px;
               margin: 10px 0 0 0;
               font-weight: normal;
            }
        }
    }
}
@media (max-width: 767px) {
    .right_content {
        .right_small {
            padding: 0.3rem 0.2rem;
            img {
                max-width: 3rem;
                margin: 0 0.3rem 0 0;
            }
            h2 {
               font-size: 0.44rem;
               max-height: 1.4rem;
               margin: 0.25rem 0 0 0;
            }
        }
    }
}