.con_left
  .headtitle 
    span.eyebrow 微视频
    h1 标题内容文字标题内容文字
    span.pushtime 2018-07-02
    .xl_line
  .context
    .video
      #videoArea
        span(style="display:none;") http://vod.xinhuanet.com/qiushi1/vod_qs.html?vid=521727
    .abs
      span 求是网献礼建党97周年。为人民谋幸福，为民族谋复兴。永远和人民在一起，我们的事业山高水长！