.right_title
  .icon-text
    .right_icon
      img(src="images/pd_shipin_20180628_04.png", alt="")
    .right_text 动态
  .eng-text Latest News
.right_content
  .right_small
    img(src="images/noneed04.jpg", alt="")
    h2
      a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
  .article_line
  .right_small
    img(src="images/noneed04.jpg", alt="")
    h2
      a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字
  .article_line
  .right_small
    img(src="images/noneed04.jpg", alt="")
    h2
      a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字标题内容文字