.left_list
  .list_title
    ul
      li.active 推荐
        .red_line
      li
        a(href="#") 访谈
      li
        a(href="#") 纪实
      li
        a(href="#") 动漫
      li
        a(href="#") 微视频
  .list_content
    .article
      img(src="http://www.qstheory.cn/titlepic/112299/1122993167_1529060125305_title0h.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字1
      span 摘要内容文字1
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")
    .article_line
    .article
      img(src="images/noneed03.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字2
      span 摘要内容文字2
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")
    .article_line
    .article
      img(src="images/noneed03.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字3
      span 摘要内容文字3
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")
    .article_line
    .article
      img(src="images/noneed03.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字4
      span 摘要内容文字4
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")
    .article_line
    .article
      img(src="images/noneed03.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字5
      span 摘要内容文字5
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")
    .article_line
    .article
      img(src="images/noneed03.jpg", alt="")
      h2
        a(href="http://www.qstheory.cn") 标题内容文字6
      span 摘要内容文字6
      .sp_share.bshare-custom
        | 分享
        a.bshare-more(title="分享")
          img(src="images/pd_shipin_20180628_09.png", alt="")