.right_title
  .icon-text
    .right_icon
      img(src="images/pd_shipin_20180628_04.png", alt="")
    .right_text 直播
  .eng-text Live broadcast
.right_content
  .right_big
    .pic
      img(src="images/noneed01.jpg", alt="")
    .text
      span
        a(href="#") 标题内容文字标题内容文字标题内容文字标题内容文字
  .right_abs 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字