.col-md-12
    .sp_menu
        .swiper-container-menu
            .swiper-wrapper
                .swiper-slide
                    ul
                        li
                            a(href="#") 首页
                        li.active 访谈
                            .red_line
                        li
                            a(href="#") 访谈
                        li
                            a(href="#") 纪实
                        li
                            a(href="#") 动漫
                        li
                            a(href="#") 微视频
                        li
                            a(href="#") 动态