.col-md-12
    header
        .v7_conmontop
            script(src="http://www.qstheory.cn/n7/js/v7_commontop_v1.0.js")
.col-md-4
    .icon
        .icon_l
            img(src="../images/pd_shipin_20180628_01.png", alt="")
        .icon_r
            img(src="../images/pd_shipin_20180628_02.png", alt="")
.col-md-5
.col-md-3
    .search_frame.hidden-sm.hidden-xs
        iframe(src="http://www.qstheory.cn/n7/v7_search_frame.html", width="220", height="30" scrolling="no", frameborder="0", allowtransparency="true")
.col-md-12
    .nav