.series
  .icon
    img(src="../images/pd_shipin_20180628_03.png", alt="")
  .series_backpic
    .swiper-container.swiper-container3
      .swiper-wrapper
        .swiper-slide
          .pic
            a(href="#")
              img(src="images/noneed03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img(src="images/noneed03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img(src="images/noneed03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img(src="images/noneed03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
        .swiper-slide
          .pic
            a(href="#")
              img(src="images/noneed03.jpg", alt="")
          .text
            h2
              a(href="#") 标题内容文字标题内容文字标题内容文字
            span 摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字摘要内容文字
      .swiper-button-prev.swiper-button-prev_sp.hidden-xs
        img(src="../images/pd_shipin_20180628_07.png", alt="")
      .swiper-button-next.swiper-button-next_sp.hidden-xs
        img(src="../images/pd_shipin_20180628_08.png", alt="")