.xl_share.hidden-sm.hidden-xs
  .share_icon
    a(onclick="javascript:bShare.share(event,'weixin',0);return false;" )
      img(src="images/pd_shipin_20180628_10.png", alt="")
  .share_icon
    a(onclick="javascript:bShare.share(event,'sinaminiblog',0);return false;" )  
      img(src="images/pd_shipin_20180628_11.png", alt="")
  .share_icon
    a(onclick="javascript:bShare.share(event,'qqmb',0);return false;" ) 
      img(src="images/pd_shipin_20180628_12.png", alt="")