doctype html
html( lang="zh-cn")
    head
        include views/head
    body
        include views/wxshare
        .container
            .row
                include views/nav
                include views/menu
                .clear
                .list_topheight
                .col-sm-6
                    include views/list_focus
                .col-sm-3.col-xs-6
                    include views/list_recommend
                .col-sm-3.col-xs-6
                    include views/list_recommend
                .col-sm-3.col-xs-6
                    include views/list_recommend
                .col-sm-3.col-xs-6
                    include views/list_recommend
            .clear
            .row
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
                .col-md-3.col-sm-4.col-xs-6
                    include views/sp_list
        include views/foot
        include views/bottom
        script(src="http://w.cnzz.com/c.php?id=30019853")